<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="classes" >
  <test name="chromeTest">
  <parameter name ="browser" value ="chrome"/>
    <classes>
       <class name="ftest.facetest"/>
       <class name="ftest.facetest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="firefoxTest">
  <parameter name ="browser" value ="firefox"/>
    <classes>
       <class name="ftest.facetest"/>
       <class name="ftest.facetest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
